# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html
[client]
port= {{item.port}}
socket={{mgr_base_dir}}/{{item.port}}/mysql.sock

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove the leading "# " to disable binary logging
# Binary logging captures changes between backups and is enabled by
# default. It's default setting is log_bin=binlog
# disable_log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
#
# Remove leading # to revert to previous value for default_authentication_plugin,
# this will increase compatibility with older clients. For background, see:
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_default_authentication_plugin
default-authentication-plugin=mysql_native_password
port={{item.port}}
socket={{mgr_base_dir}}/{{item.port}}/mysql.sock
mysqlx_port={{item.mysqlx_port}}
mysqlx_socket={{mgr_base_dir}}/{{item.port}}/mysqlx.sock
datadir={{mgr_base_dir}}/{{item.port}}/data
log-error={{mgr_base_dir}}/{{item.port}}/log/mysqld.log

server_id={{item.server_id}}
gtid_mode=ON
enforce_gtid_consistency=ON

binlog_checksum=none

log_bin=binlog
log_slave_updates=ON
binlog_format=ROW
master_info_repository=TABLE
relay_log_info_repository=TABLE
transaction_write_set_extraction='XXHASH64'
group_replication_start_on_boot = OFF
group_replication_bootstrap_group = OFF
group_replication_group_name="9d0a8465-333e-46b2-a028-b4d2dd1de998"
group_replication_single_primary_mode = ON
group_replication_local_address= "{{ ansible_default_ipv4.address }}:{{item.group_port}}"

group_replication_group_seeds= "{{ansible_default_ipv4.address}}:{{group_ports | join(','+ansible_default_ipv4.address+':')}}"
lower_case_table_names=1
report_host="{{ ansible_default_ipv4.address }}"
