[Unit]
Description=GoInception Service
After=network-online.target
After=syslog.target

[Service]
Type=simple

WorkingDirectory={{inception_install_dir}}/inception


# Start main service
ExecStart={{inception_install_dir}}/goInception/bin/goInception -config={{goInception_install_dir}}/goInception/config/config.toml


# Sets open_files_limit
LimitNOFILE = 60000

Restart=on-failure

PrivateUsers=false
#RestartPreventExitStatus=1

[Install]
WantedBy=multi-user.target
