_build/
.vstags
.vscode
cover_db/
inc/
!Build/
*.o
*.bs
*.pyc
*.csv
number.txt
.DS_Store
*.beam
*.class
*.out
hello.txt
prometheus/data/alertmanager/storage
prometheus/data/prometheus/data
mysql-varibles
*-status

*.tar.gz
*.tgz
*.rpm
*.deb

*.swp

C/go2c/usego