---
- name: Get MySQL datadir stat info
  stat: 
    path: "{{mgr_base_dir}}/{{item.port}}/data" 
  register: datadir_status

- name: Initialize MySQL instance port={{item.port}} 
  shell:  mysqld --defaults-file={{mgr_base_dir}}/{{item.port}}/my.cnf --datadir={{mgr_base_dir}}/{{item.port}}/data --initialize-insecure 
  when:  not datadir_status.stat.exists

