#Create directory for configure Prometheus 
- name: Create project dir
  file:  path={{item}} state=directory
  with_items:
    - "{{ create_path }}"
  
#- name: Create docker-compose.yml file for Prometheus docker
#    template: src=docker-compose.yml dest={{prometheus_download_dir}}/docker-compose.yml
- name: Copy docker-compose.yml to "{{prometheus_download_dir}}"
  template: 
    src: docker-compose.yml 
    dest: "{{ prometheus_download_dir }}"

- name: Copy prometheus.yml to  {{prometheus_dir}} 
  template: 
    src: prometheus.yml 
    dest: "{{prometheus_volumes}}"
    mode: 0644

- name: Copy rule_files to {{prometheus_rules_volumes}}
  copy: 
    src: "{{item}}"
    dest: "{{prometheus_rules_volumes}}"
    mode: 0644
  with_items:
    - "{{rule_files}}"

- name: Copy node.yml to  {{prometheus_dir}} 
  template: 
    src: node.yml 
    dest: "{{prometheus_volumes}}"
    mode: 0644
     
- name: Copy alertmanager.yml to {{alertmanager_volumes}}
  copy: 
    src: alertmanager.yml 
    dest: "{{alertmanager_volumes}}"
    mode: 0644

- name: Copy email.tmpl to {{alertmanager_template_volumes}}
  copy: 
    src: email.tmpl 
    dest: "{{alertmanager_template_volumes}}"
    mode: 0644
  
